idea-flex.skeleton
*.class

# Package Files #
*.jar
!lib/*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
resources/META-INF/dist/
*.iml

.gradle
build

# IDEA
.idea
!.idea/codeStyles/*
